@media (max-width: 480px) {
    .header_ctn{
        height: 40px;
        width: 100%;
    }
    .home_logo{
        height: 38px;
    }
    .home_logo #home{
        font-size: 1.2em;
    }
    .home_logo img{
        margin-left: 8px;
    }
    .home_logo h2{
        font-size: 1.2em;
        padding: 10px 2px !important;
    }
    .navg{
        top: 10px !important;
        right: 0;
    }
    .navg li a{
        font-size: 1.1em !important;
        padding: 18px 4px 2px 4px !important;
    }
    .body_qr{
        margin-top: 40px;
        height: calc(100vh - 40px);
    }
    .body_ctner{
        width: 360px;
    }  
}
